.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


table,
caption,
tr,
th,
td {
  table-layout: fixed;
  font-family: verdana, sans-serif;
  padding: 10px 40px;
  border-collapse: collapse;
}
table{
  width:100%;
}
th{
  text-align: left;
  color:white;
  background-color: #08ac6c;
}

tr:nth-child(even) {
  background-color: #d8d8d8;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
